# Игнорировать локальные файлы окружения
.env

# Игнорировать директорию с модулями Node.js
node_modules

# Игнорировать файлы логов
*.log

# Игнорировать временные файлы и директории
tmp/
temp/
test/
node_modules/

# Игнорировать файлы, специфичные для операционной системы
.DS_Store
Thumbs.db

# Игнорировать файлы конфигурации редакторов и IDE
.vscode/
.idea/

# Игнорировать файлы Docker
Dockerfile
.dockerignore

# Игнорировать файлы, созданные npm
npm-debug.log